@import "tailwindcss";

@theme inline {
  --color-bg: #0A132F;
  --color-card: #13203F;
  --color-primary: #00A3FF;
  --color-accent: #0033AA;
  --color-foreground: #F0F4FF;
  --color-muted: #A0B8E0;
  --color-highlight: #00E2FF;
  --color-success: #00FFCC;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  min-height: 100vh;
  background: var(--color-bg);
  color: var(--color-foreground);
  font-family: var(--font-geist-sans), Arial, sans-serif;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}